
 a {
 	text-decoration: none;
 }
 .center {
 	text-align: center;
	margin-bottom:25px;
 }
 .lineText {
 	display: block;
 	cursor: pointer;
 	padding: 8px;	
 }
 .foundText {
 	text-align: center;
 }
 
 #selectOption{
			width:175px;
			height:28px;
		}