td {
 	border: 1px solid black;
 	padding: 5px;
 }
 a {
 	text-decoration: none;
 }
 .center {
 	text-align: center;
 }
 .lineText {
 	display: block;
 	cursor: pointer;
 	padding: 8px;	
 }
 .lineText p {
 	cursor: pointer;		
 	font-size: 1.3em;	
 }
 .foundText {
 	text-align: center;
 }
 .foundText table{
 	margin: auto;
 }
 .row {
 	margin: auto;
 }
 
 ul {
 	padding-bottom: 15px;
 	padding-left: 30%;
 	padding-top: 1%;
 }
 ul > li {	
 	text-align: left;
 }
 #selectParam{
			width:180px;
		}